div.floors {
    width: 650px;
    margin-left: 25px;
}

div.floors div.floor {
    width: 60px;
    height: 60px;
    margin: 0;
    border: 1px black solid;
    float: left;
    text-align: center;
    vertical-align: middle;
}

div.key {
    width: 100%;
    margin-bottom: 20px;
    clear: both;
}

table.floors {
    float: right;
}

table.floors td {
    min-width: 20px;
    font-size: 12px;
}

.floors .ground{
    background-color: yellow
}

.floors .visited {
    background-color: lightgreen
}

.floors .not-visited {
    background-color: #FE8B8B
}

div.add-new-elevator {
    margin-left: 50px;
}

.btn {
    width: 220px !important;
}